input[type=number] {
    max-width: 50px;
    text-align: center;
    margin: auto;
}

.centrar {
    text-align: center;
}

tr img {
  max-height: 10vw;
  margin-right: 1rem;
}

tr {
    vertical-align: middle;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    tr {
        font-size: smaller;
    }
  }