#carrito input[type=number] {
  max-width: 5rem;
  margin: auto;
} 

tr {
  vertical-align: middle;
}

tr img {
max-height: 10vw;
margin-right: 1rem;
}

#cart {
max-width: 70vw;
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  tr {
      font-size: smaller;
  }
  #cart {
    max-width: 100vw;
  }
}