/*Icono user comentarios*/
.fa-user {
    padding-right: 0.5em;
}

/*Prod. relacionados*/
.card-title{
    font-size: 12pt;
    font-weight: bold;
    color: black;
}

a {
    text-decoration: none;
}

.form-range {
    max-width: 90px;
}

input[type="range"]::-webkit-slider-thumb {
    background-color: #ffa500;
}
  
input[type="range"]::-moz-range-thumb {
    background-color: #ffa500;
}

@media only screen and (min-width: 768px) {
    /* For desktop and tablet: */
    .carousel {
        max-width: 70vw;
        margin: auto;
    }
  }